services:
  valheim:
    image: {{ valheim_image }}
    container_name: valheim
    user: "1000:1000"
    stop_signal: SIGINT
    ports:
      - "2456:2456/udp"
      - "2457:2457/udp"
      - "2458:2458/udp"
      - "3000:3000/tcp"
    volumes:
      - /opt/valheim/saves:/home/steam/.config/unity3d/IronGate/Valheim
      - /opt/valheim/server:/home/steam/valheim
      - /opt/valheim/backups:/home/steam/backups
    environment:
      - PORT={{ valheim_server_port }}
      - NAME={{ valheim_server_name }}
      - WORLD={{ valheim_world_name }}
      - PASSWORD={{ valheim_server_password }}
      - TZ={{ valheim_timezone }}
      - PUBLIC={{ 1 if valheim_server_public else 0 }}
      - ENABLE_CROSSPLAY={{ 1 if valheim_crossplay else 0 }}
      - USE_PUBLIC_BETA=1
      - HTTP_PORT=3000
      - AUTO_UPDATE=1
      - AUTO_UPDATE_SCHEDULE={{ valheim_update_cron }}
      - AUTO_BACKUP=1
      - AUTO_BACKUP_SCHEDULE={{ valheim_backups_cron }}
      - AUTO_BACKUP_DAYS_TO_LIVE={{ valheim_backups_max_age }}
      - AUTO_BACKUP_REMOVE_OLD=1
      - AUTO_BACKUP_ON_SHUTDOWN=1
    restart: unless-stopped
