services:
  valheim:
    image: ghcr.io/community-valheim-tools/valheim-server:latest
    container_name: valheim
    cap_add:
      - sys_nice
    stop_grace_period: 120s
    ports:
      - "2456-2458:2456-2458/udp"
    volumes:
      - /opt/valheim/config:/config
      - /opt/valheim/data:/opt/valheim
      - /opt/valheim/backups:/config/backups
    environment:
      - SERVER_NAME={{ valheim_server_name }}
      - WORLD_NAME={{ valheim_world_name }}
      - SERVER_PASS={{ valheim_server_password }}
      - SERVER_PORT={{ valheim_server_port }}
      - SERVER_PUBLIC={{ valheim_server_public | string | lower }}
      - PUBLIC_TEST={{ valheim_public_test | string | lower }}
      - CROSSPLAY={{ valheim_crossplay | string | lower }}
      - TZ={{ valheim_timezone }}
      - UPDATE_CRON={{ valheim_update_cron }}
      - BACKUPS_CRON={{ valheim_backups_cron }}
      - BACKUPS_DIRECTORY=/config/backups
      - BACKUPS_MAX_AGE={{ valheim_backups_max_age }}
      - BACKUPS_MAX_COUNT={{ valheim_backups_max_count }}
      - BACKUPS_ZIP=true
    restart: unless-stopped
