#!/bin/bash
export templdpath=$LD_LIBRARY_PATH
export LD_LIBRARY_PATH={{ valheim_server_dir }}/linux64:$LD_LIBRARY_PATH
export SteamAppId=892970

cd {{ valheim_server_dir }}

echo "Starting Valheim server {{ valheim_server_name }}"

# Admin list
mkdir -p {{ valheim_save_dir }}
{% for steam_id in valheim_adminlist_ids %}
echo "{{ steam_id }}" >> {{ valheim_save_dir }}/adminlist.txt
{% endfor %}

exec ./valheim_server.x86_64 \
  -name "{{ valheim_server_name }}" \
  -port {{ valheim_server_port }} \
  -world "{{ valheim_world_name }}" \
  -password "{{ valheim_server_pass }}" \
  -public {{ '1' if valheim_server_public == 'true' else '0' }} \
  -savedir "{{ valheim_save_dir }}" \
  -crossplay {{ '1' if valheim_crossplay == 'true' else '0' }}

export LD_LIBRARY_PATH=$templdpath
