[Unit]
Description=Valheim Dedicated Server
After=network.target

[Service]
Type=simple
User=homelab
Group=homelab
WorkingDirectory={{ valheim_server_dir }}
ExecStart={{ valheim_server_dir }}/start_valheim.sh
ExecStop=/bin/kill -SIGINT $MAINPID
KillSignal=SIGINT
TimeoutStopSec=120
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
