---
services:
  {{ web_host_container_name }}:
    container_name: {{ web_host_container_name }}
    image: {{ web_host_image }}
    ports:
      - "{{ web_host_port }}:{{ web_host_container_port }}"
    volumes:
      - ./html:/usr/share/nginx/html:ro
    restart: unless-stopped
