prometheus.exporter.unix "host" {
  rootfs_path = "/host/root"
  procfs_path = "/host/proc"
  sysfs_path  = "/host/sys"
}

discovery.relabel "host" {
  targets = prometheus.exporter.unix.host.targets

  rule {
    target_label = "instance"
    replacement  = "{{ inventory_hostname }}"
  }

  rule {
    target_label = "job"
    replacement  = "node"
  }
}

prometheus.scrape "host" {
  targets         = discovery.relabel.host.output
  scrape_interval = "15s"
  forward_to      = [prometheus.remote_write.default.receiver]
}

prometheus.remote_write "default" {
  endpoint {
    url = "{{ alloy_agent_prometheus_url }}"
  }
}

{% if 'public' in group_names %}
prometheus.scrape "cloudflared" {
  targets = [
    {
      __address__ = "cloudflared:2000",
      instance    = "{{ inventory_hostname }}",
      job         = "cloudflared",
    },
  ]
  scrape_interval = "15s"
  forward_to      = [prometheus.remote_write.default.receiver]
}
{% endif %}

discovery.docker "containers" {
  host             = "unix:///var/run/docker.sock"
  refresh_interval = "15s"
}

discovery.relabel "containers" {
  targets = discovery.docker.containers.targets

  rule {
    target_label = "host"
    replacement  = "{{ inventory_hostname }}"
  }

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.*)"
    target_label  = "container"
  }

  rule {
    target_label = "job"
    replacement  = "docker"
  }
}

loki.source.docker "containers" {
  host             = "unix:///var/run/docker.sock"
  labels           = {}
  targets          = discovery.relabel.containers.output
  forward_to       = [loki.write.default.receiver]
  refresh_interval = "15s"
}

local.file_match "system" {
  path_targets = [
    {
      __path__ = "/host/var/log/messages",
      host     = "{{ inventory_hostname }}",
      job      = "system",
    },
  ]
}

loki.source.file "system" {
  targets    = local.file_match.system.targets
  forward_to = [loki.write.default.receiver]
}

loki.write "default" {
  endpoint {
    url = "{{ alloy_agent_loki_url }}"
  }
}
