---
services:
  alloy:
    container_name: alloy
    image: "{{ alloy_agent_image }}"
    command:
      - run
      - /etc/alloy/config.alloy
      - --storage.path=/var/lib/alloy/data
    user: root
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy:ro
      - ./data:/var/lib/alloy/data
      - /:/host/root:ro,rslave
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/log:/host/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% if 'public' in group_names or 'demo' in group_names %}
    networks:
{% if 'public' in group_names %}
      - public-proxy
{% endif %}
{% if 'demo' in group_names %}
      - demo-proxy
{% endif %}
{% endif %}
    restart: unless-stopped

{% if 'public' in group_names or 'demo' in group_names %}
networks:
{% if 'public' in group_names %}
  public-proxy:
    external: true
{% endif %}
{% if 'demo' in group_names %}
  demo-proxy:
    external: true
{% endif %}
{% endif %}
