---
- Dokumentacja:
    - Terraform:
        - icon: terraform
          href: https://developer.hashicorp.com/terraform/docs
    - Ansible:
        - icon: ansible
          href: https://docs.ansible.com
    - Homepage Docs:
        - icon: homepage
          href: https://gethomepage.dev/

- Narzędzia:
    - Proxmox:
        - icon: proxmox
          href: https://192.168.40.1:8006
    - GitHub:
        - icon: github
          href: https://github.com