---
# https://gethomepage.dev/configs/settings
title: Homelab Dashboard
favicon: https://cdn.jsdelivr.net/gh/gethomepage/homepage/public/favicon.ico
theme: dark
color: slate
headerStyle: clean
language: pl
hideVersion: true
layouts:
  Sieć:
    style: row
    columns: 2
  Monitoring:
    style: row
    columns: 2
  Aplikacje:
    style: row
    columns: 2
  Infrastruktura:
    style: row
    columns: 2