---
- datetime:
    locale: pl
    format:
      dateStyle: long
      timeStyle: short
      hour12: false

- weather:
    label: Warszawa
    latitude: 52.2297
    longitude: 21.0122
    units: metric
    provider: openweathermap
    cache: 5