---
services:
  homepage:
    container_name: homepage
    image: {{ homepage_image }}
    restart: unless-stopped
    ports:
      - "{{ homepage_port }}:3000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config:/app/config
    environment:
      TZ: Europe/Warsaw
      HOMEPAGE_ALLOWED_HOSTS: homepage.lab,localhost,127.0.0.1,192.168.40.143
