---
- Network:
    - Pi-hole:
        href: http://pihole.lab/admin
        icon: pi-hole
        description: DNS Sinkhole & Ad Blocking
        widget:
          type: pihole
          url: http://192.168.40.141
          password: "{{ vault_pihole_webpassword | default('changeme') }}"

    - Traefik:
        href: http://traefik.lab
        icon: traefik
        description: Reverse Proxy
        widget:
          type: traefik
          url: http://192.168.40.142:8080

- Monitoring:
    - Grafana:
        href: http://grafana.lab
        icon: grafana
        description: Metrics dashboards

    - Uptime Kuma:
        href: http://kuma.lab
        icon: uptime-kuma
        description: Uptime Monitoring
        widget:
          type: uptimekuma
          url: http://192.168.40.143:3001

- Applications:
    - Actual Budget:
        href: https://actual.lab
        icon: actual-budget
        description: Personal finance

    - Portainer:
        href: http://portainer.lab
        icon: portainer
        description: Container Management

    - Paperless-ngx:
        href: http://paperless.lab
        icon: paperless-ngx
        description: Document Management

    - Seafile:
        href: http://seafile.lab
        icon: seafile
        description: File Sync & Share

- Games:
    - 7 Days to Die:
        href: steam://connect/7dtd.lab:26900
        icon: si-steam
        description: Dedicated game server on games-01

- Infrastructure:
    - Proxmox:
        href: https://192.168.40.10:8006
        icon: proxmox
        description: Hypervisor
