---
- Network:
    - Pi-hole:
        href: http://pihole.lab/admin
        icon: pi-hole
        description: DNS Sinkhole & Ad Blocking
        widget:
          type: pihole
          url: http://192.168.60.141
          password: "{{ vault_pihole_webpassword | default('changeme') }}"

    - Traefik:
        href: http://traefik.lab
        icon: traefik
        description: Reverse Proxy
        widget:
          type: traefik
          url: http://192.168.60.142:8080

- Applications:
    - Home Assistant:
        href: http://homeassistant.lab:8123
        icon: home-assistant
        description: Home automation

    - Actual Budget:
        href: https://actual.lab
        icon: actual-budget
        description: Personal finance

    - Portainer:
        href: http://portainer.lab
        icon: portainer
        description: Container Management

    - Paperless-ngx:
        href: http://paperless.lab
        icon: paperless-ngx
        description: Document Management

    - Seafile:
        href: http://seafile.lab
        icon: seafile
        description: File Sync & Share

- Games:
    - 7 Days to Die:
        href: steam://connect/7dtd.lab:26900
        icon: si-steam
        description: Dedicated game server on games-01

- Media:
    - Jellyfin:
        href: http://jellyfin.lab
        icon: jellyfin
        description: Media streaming

    - Seerr:
        href: http://seerr.lab
        icon: overseerr
        description: Media requests

    - Sonarr:
        href: http://sonarr.lab:8989
        icon: sonarr
        description: TV automation

    - Radarr:
        href: http://radarr.lab:7878
        icon: radarr
        description: Movie automation

- Infrastructure:
    - Proxmox:
        href: https://192.168.60.10:8006
        icon: proxmox
        description: Hypervisor
