---
title: Homelab Dashboard
language: pl
useEqualHeightCards: true
hideVersion: true
weather:
  - latitude: 52.23
    longitude: 21.01
    city: Warsaw
    units: metric
layout:
  Network:
    style: row
    columns: 2
  Applications:
    style: row
    columns: 4
  Development:
    style: row
    columns: 1
  Infrastructure:
    style: row
    columns: 1
