---
http:
  routers:
    traefik:
      rule: "Host(`traefik.{{ homelab_domain }}`)"
      service: api@internal
      entryPoints:
        - web

    homepage:
      rule: "Host(`homepage.{{ homelab_domain }}`)"
      service: homepage
      entryPoints:
        - web

    grafana:
      rule: "Host(`grafana.{{ homelab_domain }}`)"
      service: grafana
      entryPoints:
        - web

    paperless:
      rule: "Host(`paperless.{{ homelab_domain }}`)"
      service: paperless
      entryPoints:
        - web

    portainer:
      rule: "Host(`portainer.{{ homelab_domain }}`)"
      service: portainer
      entryPoints:
        - web

    jellyfin:
      rule: "Host(`jellyfin.{{ homelab_domain }}`)"
      service: jellyfin
      entryPoints:
        - web

    seerr:
      rule: "Host(`seerr.{{ homelab_domain }}`)"
      service: seerr
      entryPoints:
        - web

    sonarr:
      rule: "Host(`sonarr.{{ homelab_domain }}`)"
      service: sonarr
      entryPoints:
        - web

    radarr:
      rule: "Host(`radarr.{{ homelab_domain }}`)"
      service: radarr
      entryPoints:
        - web

    prowlarr:
      rule: "Host(`prowlarr.{{ homelab_domain }}`)"
      service: prowlarr
      entryPoints:
        - web

    bazarr:
      rule: "Host(`bazarr.{{ homelab_domain }}`)"
      service: bazarr
      entryPoints:
        - web
{% if hostvars['jelly-01']['media_download_enabled'] | bool %}
    qbittorrent:
      rule: "Host(`qbittorrent.{{ homelab_domain }}`)"
      service: qbittorrent
      entryPoints:
        - web
{% endif %}

  services:
    homepage:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['app-01']['ansible_host'] }}:3000"

    grafana:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['monitor-01']['ansible_host'] }}:{{ hostvars['monitor-01']['monitoring_grafana_port'] }}"

    paperless:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['app-01']['ansible_host'] }}:8001"

    portainer:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['app-01']['ansible_host'] }}:8000"

    jellyfin:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['jelly-01']['ansible_host'] }}:8096"

    seerr:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['jelly-01']['ansible_host'] }}:5055"

    sonarr:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['jelly-01']['ansible_host'] }}:8989"

    radarr:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['jelly-01']['ansible_host'] }}:7878"

    prowlarr:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['jelly-01']['ansible_host'] }}:9696"

    bazarr:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['jelly-01']['ansible_host'] }}:6767"
{% if hostvars['jelly-01']['media_download_enabled'] | bool %}
    qbittorrent:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['jelly-01']['ansible_host'] }}:8080"
{% endif %}

tls:
  certificates:
    - certFile: /certs/cert.pem
      keyFile: /certs/key.pem
