---
http:
  routers:
    traefik:
      rule: "Host(`traefik.{{ homelab_domain }}`)"
      service: api@internal
      entryPoints:
        - web

    homepage:
      rule: "Host(`homepage.{{ homelab_domain }}`)"
      service: homepage
      entryPoints:
        - web

    paperless:
      rule: "Host(`paperless.{{ homelab_domain }}`)"
      service: paperless
      entryPoints:
        - web

    portainer:
      rule: "Host(`portainer.{{ homelab_domain }}`)"
      service: portainer
      entryPoints:
        - web

    seafile:
      rule: "Host(`seafile.{{ homelab_domain }}`)"
      service: seafile
      entryPoints:
        - web

    jellyfin:
      rule: "Host(`jellyfin.{{ homelab_domain }}`)"
      service: jellyfin
      entryPoints:
        - web

    seerr:
      rule: "Host(`seerr.{{ homelab_domain }}`)"
      service: seerr
      entryPoints:
        - web

    actual:
      rule: "Host(`actual.{{ homelab_domain }}`)"
      service: actual
      entryPoints:
        - web
        - websecure
      tls: {}
      middlewares:
        - actual-headers

  middlewares:
    actual-headers:
      headers:
        customResponseHeaders:
          Cross-Origin-Opener-Policy: same-origin
          Cross-Origin-Embedder-Policy: require-corp

  services:
    homepage:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['app-01']['ansible_host'] }}:3000"

    paperless:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['app-01']['ansible_host'] }}:8001"

    portainer:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['app-01']['ansible_host'] }}:8000"

    seafile:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['app-01']['ansible_host'] }}:8002"

    jellyfin:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['jelly-01']['ansible_host'] }}:8096"

    seerr:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['jelly-01']['ansible_host'] }}:5055"

    actual:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['app-01']['ansible_host'] }}:5006"

tls:
  certificates:
    - certFile: /certs/cert.pem
      keyFile: /certs/key.pem
