route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 4h
  receiver: 'telegram'

receivers:
  - name: 'telegram'
    telegram_configs:
      - send_resolved: true
        bot_token: '{{ vault_monitoring_alertmanager_telegram_bot_token }}'
        chat_id: {{ vault_monitoring_alertmanager_telegram_chat_id }}
        parse_mode: 'HTML'
        message: |
          <b>{{ '{{' }} .GroupLabels.alertname {{ '}}' }}</b>
          {{ '{{' }} range .Alerts {{ '}}' }}
          Status: {{ '{{' }} .Status {{ '}}' }}
          Summary: {{ '{{' }} .Annotations.summary {{ '}}' }}
          Description: {{ '{{' }} .Annotations.description {{ '}}' }}
          {{ '{{' }} end {{ '}}' }}
