---
services:
  prometheus:
    container_name: prometheus
    image: "{{ monitoring_prometheus_image }}"
    user: root
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=30d
      - --web.enable-remote-write-receiver
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/rules:/etc/prometheus/rules:ro
      - ./prometheus/data:/prometheus
    restart: unless-stopped

  loki:
    container_name: loki
    image: "{{ monitoring_loki_image }}"
    user: root
    command: -config.file=/etc/loki/loki-config.yml
    ports:
      - "3100:3100"
    volumes:
      - ./loki/loki-config.yml:/etc/loki/loki-config.yml:ro
      - ./loki/data:/loki
      - ./loki/rules:/loki/rules:ro
    restart: unless-stopped

  alertmanager:
    container_name: alertmanager
    image: "{{ monitoring_alertmanager_image }}"
    user: root
    command:
      - --config.file=/etc/alertmanager/alertmanager.yml
      - --storage.path=/alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - ./alertmanager:/alertmanager
    restart: unless-stopped

  blackbox-exporter:
    container_name: blackbox-exporter
    image: "{{ monitoring_blackbox_exporter_image }}"
    command:
      - --config.file=/etc/blackbox_exporter/config.yml
    cap_add:
      - NET_RAW
    ports:
      - "9115:9115"
    volumes:
      - ./blackbox/blackbox.yml:/etc/blackbox_exporter/config.yml:ro
    restart: unless-stopped

  grafana:
    container_name: grafana
    image: "{{ monitoring_grafana_image }}"
    user: root
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: "{{ monitoring_grafana_admin_user }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ monitoring_grafana_admin_password }}"
      GF_USERS_ALLOW_SIGN_UP: "false"
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    restart: unless-stopped
