apiVersion: 1

groups:
  - orgId: 1
    name: valheim-logs
    folder: Valheim
    interval: 30s
    rules:
      - uid: valheim-player-joined
        title: Player Joined Valheim
        condition: C
        data:
          - refId: A
            queryType: range
            relativeTimeRange:
              from: 300
              to: 0
            datasourceUid: loki
            model:
              expr: '{job="valheim"} |= "Player joined server"'
          - refId: B
            relativeTimeRange:
              from: 0
              to: 0
            datasourceUid: __expr__
            model:
              type: reduce
              expression: A
              reducer: count
              settings:
                mode: strict
          - refId: C
            relativeTimeRange:
              from: 0
              to: 0
            datasourceUid: __expr__
            model:
              type: threshold
              expression: B
              conditions:
                - evaluator:
                    params: [0]
                    type: gt
        noDataState: NoData
        execErrState: Error
        for: 1m
        annotations:
          summary: Player joined PORTPOLSKA Valheim server
          description: "Someone connected to the Valheim server"
        labels:
          severity: info
        isPaused: false
