QBITTORRENT_ADMIN_USER={{ media_qbittorrent_admin_user | quote }}
QBITTORRENT_ADMIN_PASSWORD={{ media_qbittorrent_admin_password | quote }}
JELLYFIN_ADMIN_USER={{ media_jellyfin_admin_user | quote }}
JELLYFIN_ADMIN_PASSWORD={{ media_jellyfin_admin_password | quote }}
