---
services:
  jellyfin:
    image: "{{ jellyfin_image }}"
    container_name: jellyfin
    user: "1000:1000"
    environment:
      TZ: "{{ homelab_timezone }}"
    ports:
      - "8096:8096"
    volumes:
      - ./config:/config
      - ./cache:/cache
      - "{{ jellyfin_data_mount }}/media:/media"
    restart: unless-stopped
