server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /positions/positions.yaml

clients:
  - url: http://192.168.40.145:3100/loki/api/v1/push

scrape_configs:
  - job_name: valheim-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: valheim
          host: games-01
          __path__: /var/lib/docker/containers/*/*-json.log
    pipeline_stages:
      - docker: {}
      - replace:
          expression: '\\x1b\[[0-9;]*m'
          replace: ''
      - replace:
          expression: '\[[0-9;]*m'
          replace: ''
      - replace:
          expression: '\[[0-9;]*\['
          replace: ''
