---
services:
  actual:
    container_name: actual
    image: "{{ actual_image }}"
    ports:
      - "{{ actual_port }}:5006"
    volumes:
      - ./data:/data
    environment:
      ACTUAL_PASSWORD: "{{ vault_actual_password }}"
      TZ: "{{ homelab_timezone }}"
    restart: unless-stopped
