---
services:
  actual:
    container_name: actual
    image: {{ actual_image }}
    ports:
      - "{{ actual_port }}:5006"
    volumes:
      - ./data:/data
    environment:
      ACTUAL_PASSWORD: {{ actual_password }}
      TZ: Europe/Warsaw
    restart: unless-stopped
