---
services:
  pihole:
    image: "{{ pihole_image }}"
    container_name: pihole
    environment:
      TZ: "{{ homelab_timezone }}"
      FTLCONF_webserver_api_password: "{{ vault_pihole_web_password }}"
      FTLCONF_LOCAL_IPV4: "{{ ansible_host }}"
      FTLCONF_dns_listeningMode: ALL
      FTLCONF_dns_hosts: |-
{% for record in pihole_dns_hosts %}
        {{ record }}
{% endfor %}
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
    volumes:
      - ./etc-pihole:/etc/pihole
      - ./etc-dnsmasq.d:/etc/dnsmasq.d
    restart: unless-stopped
