---
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
    environment:
      TZ: 'Europe/Warsaw'
      WEBPASSWORD: '{{ vault_pihole_webpassword | default("changeme") }}'
      FTLCONF_LOCAL_IPV4: '{{ ansible_default_ipv4.address | default("127.0.0.1") }}'
      FTLCONF_dns_hosts: |-
        192.168.60.141 pihole.lab
        192.168.60.142 traefik.lab
        192.168.60.142 kuma.lab
        192.168.60.142 homepage.lab
        192.168.60.142 paperless.lab
        192.168.60.142 seafile.lab
        192.168.60.142 portainer.lab
        192.168.60.142 actual.lab
        192.168.60.142 grafana.lab
        192.168.60.142 prometheus.lab
        192.168.60.142 alertmanager.lab
        192.168.60.142 loki.lab
        192.168.60.142 jellyfin.lab
        192.168.60.142 seerr.lab
        192.168.60.131 jelly-01.lab
        192.168.60.131 sonarr.lab
        192.168.60.131 radarr.lab
        192.168.60.131 prowlarr.lab
        192.168.60.131 bazarr.lab
        192.168.60.131 qbittorrent.lab
        192.168.60.130 games-01.lab
        192.168.60.130 7dtd.lab
        192.168.60.147 homeassistant-01.lab homeassistant.lab
      FTLCONF_dns_listeningMode: ALL
    volumes:
      - './etc-pihole:/etc/pihole'
      - './etc-dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped
